---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import SimpleCardHeading from "../components/SimpleCardHeading";
const { blok } = Astro.props;
---

<main class="h-screen" {...storyblokEditable(blok)}>
  {
    blok.body?.map((blok) => {
      return (
        <div class="h-full">
          <StoryblokComponent blok={blok} />
        </div>
      );
    })
  }
</main>
