# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"

sk1L0HLOPgUDjuM3IEzJThexfkNwEwoqUVi4XjobMqBOQFB0fa57s4kchLBJmUtf6rup62GQEp27DYUB9cPqwdC8LyQCXPozqmhWJYRbSbN1d3qz0lS8qfI7K1zMedywHcD9yRxLLQ7E8gx3N9BuwCDaK86goqWcgGIUWKfHMWUWBCBtYWPH